.setBlockMiddle() {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

#product {
    margin: 1%;
    border-radius: 3px;
    border: none;
    background-color: rgba(6, 9, 19, 0.7);
    height: 5em;
    padding: 0.2%;
}

#product img {
    float: left;
    width: 16%;
    height: 100%;
}

#product img.store_icon {
    float: right;
    width: auto;
    height: 100%;
}

.column {
    width: 24%;
    height: 100%;
    float: left;
    margin-left: 1%;
}

.column #product-title {
    margin-top: 6%;
    color: #ccc;
    font-size: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

.column #price_block {
    .setBlockMiddle();
    color: #ccc;
    text-align: center;
}

.column #product-price {
    font-size: 19px;
    font-family: Timew New Roman;
}

.column #product-discount {
    background-color: green;
}

.column #product-metascrore {
    color: #4c6c8c;
    .setBlockMiddle();
}

#left-column .platforms {
    margin-top: 8%;
    color: #4c6c8c;
}

#left-column div.platforms > span {
    margin-right: 0.5em;
}

@media (min-width: 726px){
    .column {
        width: 22%;
    }
}

@media (min-width: 900px){
    .column {
        width: 23%;
    }
}