@import (inline) '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import (inline) '../../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
// @import (inline) 'product.less';

// @back_color: #0d1221;
@font_color: #ccc;

body {
    background: #485563;
    background: -webkit-linear-gradient(to left, #485563 , #29323c);
    background: linear-gradient(to left, #485563 , #29323c);
    color: @font_color;
    font-family: "Open Sans", sans-serif;
}

 application > div > h1 {
    text-align: center;
}

application #searchInput {
    float: left;
    width: 81%;
    border-radius: 0;
    border: none;
    color: rgba(204,204,204, 0.6);
    background-color: rgba(6, 9, 19, 0.2);
    transition: none;
    letter-spacing: 0.5px;
    padding-left: 34px;
    font-style: italic;
}

application #searchInput:focus {
    color: rgb(204,204,204);
    background-color: #060913;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

application > form {
    height: 4em;
}

application button#searchBtn {
    float: right;
    border-radius: 0;
    border: none;
    background-image: none;
    background-color: #323232;
    height: 60%;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    letter-spacing: 0.5px;
    width: 18%;
}

.btn:focus {
  outline: none;
}

application .searchPanel {
    width: 55%;
    margin: 0 auto;
    position: relative;
}

application .searchPanel .progress {
    position: absolute;
    pointer-events: none;
    width: 81%;
    opacity: 0.5;
    background-image: none;
    background-color: transparent;
    height: 34px;
    border-radius: 0;
    font-style: italic;
}

application .searchPanel .glyphicon {
    position: absolute;
    padding: 10px;
    left: 0;
    pointer-events: none;
}

application .page-header {
    letter-spacing: 0.5px;
}

application .page-header small {
    color: #777;
}

application .progress-bar-success {
    transition: width 0.5s linear;
    background-image: none;
    background-color: #2386b1;
}

@media (min-width: 726px){
    .container {
        width: 562px;
    }
}

@media (min-width: 900px){
    .container {
        width: 727px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

@-moz-document url-prefix() { 
  body {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}