<div class="page-header">
    <h1>GameFinder.com <small>find you game</small></h1>
</div>

<form>
    <div class="searchPanel">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.transition-duration.s]="transDuration" [style.width.%]="width">
            </div>
        </div>
        <i class="glyphicon glyphicon-search"></i>
        <input class="form-control" #searchInput id="searchInput" placeholder="enter game name here..." (keyup.enter)="onEnterPush(searchInput.value);" autofocus>
        <button type="button" id="searchBtn" class="btn btn-primary" (click)="search(searchInput.value)">search</button>
    </div>
</form>