<div class="list-group" *ngIf="currentData">
    <a src="#" href={{row.urlToPage}} target="_blank" id="product" class="list-group-item" *ngFor="let row of currentData">
        <img src={{row.imageLink}}>
        <div id="left-column" class="column">
            <h4 id="product-title">{{row.name}}</h4>
            <!--<p class="list-group-item-text ">{{row.price}}</p>-->
            <div class="platforms">
                <span class="list-group-item-text" *ngFor="let platformName of row.platforms">{{platformName}}</span>
            </div>
        </div>
        <div id="middle-column" class="column">
            <div id="product-metascrore" *ngIf="row.metascore">metascore: {{row.metascore}}</div>
        </div>
        <div id="right-column" class="column">
            <div id="price_block">
                <div id="product-price">{{row.price}}</div>
                <div id="product-discount" *ngIf="row.discount !== 0">-{{row.discount}}%</div>
            </div>
        </div>
        <img class="store_icon" src={{storesIcons[row.marketName]}}>
    </a>
</div>